/* Custom styles can go here */
pre {
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    overflow-x: auto;
}

code {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', monospace;
}

[x-cloak] {
    display: none !important;
}

/* Add these custom annotation styles */
.annotation-added {
    background-color: #bbf7d0; /* green-200 */
    color: #14532d; /* green-900 */
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    display: inline;
}

.annotation-removed {
    background-color: #fecaca; /* red-200 */
    color: #7f1d1d; /* red-900 */
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    display: inline;
    text-decoration: line-through;
} 